@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container w-50">
    <h1 class="index_headers text-center mb-5">Magic the Gathering Card Types</h1>
    <p class="text-center text-white">
        Every Magic the Gathering card has at least one characteristic called a card type.
        It will be located on the card type line after any super types. The card types of each card
        determine how the rules will dictate each card. There are 6 permant card types(Creature, Land, 
        Planeswalker, Artifact, Enchantment, Battle) and 2 non-permanent card types (Instant, Sorcery)
    </p>
    <div class="container bg-white">
        <table class="table tabletable-striped table-bordered">
            <tbody>
                <tr><td><strong>Card Types</strong></td></tr>
                <tr><td>Creature</td></tr>
                <tr><td>Land</td></tr>
                <tr><td>Planeswalker</td></tr>
                <tr><td>Artifact</td></tr>
                <tr><td>Enchantment</td></tr>
                <tr><td>Battle</td></tr>
                <tr><td>Instant</td></tr>
                <tr><td>Sorcery</td></tr>
            </tbody>
        </table>
    </div>

</div>
