<div class="container">
    <h1 class="index_headers text-center">Commander</h1>
    <ul>
        <li class="text-white">
            Commander is a 100 card 2-4 player format where players select a legendary creature to be their commander
            and build a deck of 99 cards that share colors with the commander. 
        </li>

        <li class="text-white">
            The Commander format allows players to use cards from all Magic the Gathering sets.
        </li>

        <li class="text-white">
            Your deck must contain 100 cards. A commander and 99 other cards.
        </li>

        <li class="text-white">
            Other than basic lands, your deck can only contain 1 copy of each individual card.
        </li>

        <li class="text-white">
            Land cards in your deck cannot have the ability to tap for a color that is not in your commander's 
            color identity.
        </li>

        <li class="text-white">
            Non-land cards in your deck must share a color in your commander's color identity or be colorless. 
            For example: If your commander's color identity is green, all nonland cards in your deck must be only
            green or colorless and lands in your deck can cannot tap for any color but green.
        </li>

        <li class="text-white">
            You can find the official banned and restricted list <a href="https://magic.wizards.com/en/banned-restricted-list" target="_blank">here</a>.
        </li>
    </ul>

    <h1 class="index_headers text-center">Popular cards in Commander:</h1>

    <div class="d-block mx-auto justify-content-center">
        <img src="~/Images/cmm-396-jeweled-lotus.jpg" class="m-1" />
        <img src="~/Images/2xm-190-atraxa-praetors-voice.jpg" class="m-1" />
        <img src="~/Images/pip-359-sol-ring.jpg" class="m-1" />
    </div>
</div>