@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="index_headers text-center">Welcome to the Magic The Gathering Application</h1>
    <!--begin carousel-->
    <div class="container w-50">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="~/Images/magicthegatheringlogo.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="~/Images/MagictheGathering_TA_EGBFW3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="~/Images/ss2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="~/Images/ss1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="~/Images/mtgo.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="~/Images/ss2.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!--end carousel-->

    <h2 class="text-center index_headers">What is Magic the Gathering?</h2>

    <br />

    <p class="text-center text-white w-50 mx-auto">
        Magic the Gathering, commonly referred to as "MTG" or "Magic", is a collectible card game where players collect cards 
        and build decks and battle it out. The game was created By <a>Richard Garfield</a> and released in 1993. There are many 
        ways to play the game and we will go over those in this application.</p>

    <h3 class="text-center index_headers">Tabletop</h3>
    <br />

    <img class="img-fluid mx-auto d-block" src="~/Images/MagictheGathering_TA_EGBFW3.jpg"/>
    <br />
    <p class="text-center text-white w-50 mx-auto">
        2 or more players can play tabletop magic in many ways. You can build your own decks and play by your own rules. 
        You can constuct a deck that follows one of Magic's official formats, you can draft from booster packs or create your
        own cube draft, and you can even find an event at a local card shop to play in. 
    </p>
    <br />

    <h3 class="text-center index_headers">Digital</h3>
    <br />

    <img class="img-fluid mx-auto d-block" src="~/Images/ss1.jpg" />
    <br />

    <p class="text-center text-white w-50 mx-auto">
        Magic can be played digitally as well. Magic the Gathering Online and Magic the Gathering Arena are both great 
        options if you want to play Magic but you don't want to leave the comfort of your own home. 
    </p>


</div>