<div class="container">
    <h1 class="index_headers text-center">Legacy</h1>
    <ul>
        <li class="text-white">Legacy is a format where two players face off in a game that consists of
            three matches with a 40 minute time limit.
        </li>
        <li class="text-white">
            The legacy format allows players to use cards from all Magic the Gathering sets.
        </li>
        <li class="text-white">
            Your deck must contain at least 60 cards.
        </li>
        <li class="text-white">
            Other than basic lands, your deck can only contain 4 copies of each individual card.
        </li>
        <li class="text-white">
            Your deck can have more than 60 cards and there is no limit to how many cards your deck can have. The only thing is,
            you have to be able to properly shuffle your deck without any assistance.
        </li>        
        <li class="text-white">
            You can find the official banned and restricted list <a href="https://magic.wizards.com/en/banned-restricted-list" target="_blank">here</a>.
        </li>
    </ul>

    <h1 class="index_headers text-center">Popular new cards in Legacy:</h1>

    <div class="d-block mx-auto justify-content-center">
        <img src="~/Images/ltr-A-103-a-orcish-bowmasters.jpg" class="m-1"/>
        <img src="~/Images/mkm-217-leyline-of-the-guildpact.jpg"  class="m-1"/>
        <img src="~/Images/mid-47-delver-of-secrets.jpg" class="m-1" />
    </div>
</div>
