<div class="container">
    <h1 class="index_headers text-center">Modern</h1>
    <ul>
        <li class="text-white">Modern is a format where two players face off in a game that consists of
        three matches with a 40 minute time limit. </li>

        <li class="text-white">Your deck must contain at least 60 cards
        from the most recently released sets that are legal for standard. </li>

        <li class="text-white">Other than basic lands,
        your deck can only contain 4 copies of each individual card. </li>

        <li class="text-white">Your deck can have more than 60 cards and there is no limit to how many cards your deck can have.</li>

        <li class="text-white">The only thing is, you have to be able to properly shuffle your deck without any assistance. </li>

        <li class="text-white">
            From time to time, a card will be printed that turns out to be too powerful
        and dominates the format. Cards like this are usually banned from the official play in
        the format and you can find the official banned and restricted list
            <a href="https://magic.wizards.com/en/banned-restricted-list" target="_blank">here</a>.
        </li>
    </ul>


    <h2 class="index_headers text-center">The following sets are currently legal in Modern:</h2>
    <ul class="list-unstyled text-center">
        <li class="text-white">Outlaws of Thunder Junction</li>
        <li class="text-white">Murders at Karlov Manor</li>
        <li class="text-white">The Lost Caverns of Ixalan</li>
        <li class="text-white">Wilds of Eldraine</li>
        <li class="text-white">The Lord of the Rings: Tales of Middle Earth</li>
        <li class="text-white">March of the Machine: The Aftermath</li>
        <li class="text-white">March of the Machine</li>
        <li class="text-white">Phyrexia: All Will Be One</li>
        <li class="text-white">The Brothers' War</li>
        <li class="text-white">Dominaria United</li>
        <li class="text-white">Streets of New Capenna</li>
        <li class="text-white">Kamigawa: Neon Dynasty</li>
        <li class="text-white">Innistrad: Crimson Vow</li>
        <li class="text-white">Innistrad: Midnight Hunt</li>
        <li class="text-white">Adventures in the Forgotten Realms</li>
        <li class="text-white">Modern Horizons 2</li>
        <li class="text-white">Strixhaven</li>
        <li class="text-white">Kaldheim</li>
        <li class="text-white">Zendikar Rising</li>
        <li class="text-white">Core 2021</li>
        <li class="text-white">Ikoria: Lair of Behemoths</li>
        <li class="text-white">Theros Beyond Death</li>
        <li class="text-white">Throne of Eldraine</li>
        <li class="text-white">Core Set 2020</li>
        <li class="text-white">Modern Horizons</li>
        <li class="text-white">War of the Spark</li>
        <li class="text-white">Ravnica Allegiance</li>
        <li class="text-white">Guilds of Ravnica</li>
        <li class="text-white">Core Set 2019</li>
        <li class="text-white">Dominaria</li>
        <li class="text-white">Rivals of Ixalan</li>
        <li class="text-white">Ixalan</li>
        <li class="text-white">Hour of Devastation</li>
        <li class="text-white">Amonkhet</li>
        <li class="text-white">Aether Revolt</li>
        <li class="text-white">Kaladesh</li>
        <li class="text-white">Eldritch Moon</li>
        <li class="text-white">Shadows over Innistrad</li>
        <li class="text-white">Oath of the Gatewatch</li>
        <li class="text-white">Battle for Zendikar</li>
        <li class="text-white">Magic Origins</li>
        <li class="text-white">Dragons of Tarkir</li>
        <li class="text-white">Fate Reforged</li>
        <li class="text-white">Khans of Tarkir</li>
        <li class="text-white">Magic 2015</li>
        <li class="text-white">Journey into Nyx</li>
        <li class="text-white">Born of the Gods</li>
        <li class="text-white">Theros</li>
        <li class="text-white">Magic 2014</li>
        <li class="text-white">Dragon's Maze</li>
        <li class="text-white">Gatecrash</li>
        <li class="text-white">Return to Ravnica</li>
        <li class="text-white">Magic 2013</li>
        <li class="text-white">Avacyn Restored</li>
        <li class="text-white">Dark Ascension</li>
        <li class="text-white">Innistrad</li>
        <li class="text-white">Magic 2012</li>
        <li class="text-white">New Phyrexia</li>
        <li class="text-white">Mirrodin Besieged</li>
        <li class="text-white">Scars of Mirrodin</li>
        <li class="text-white">Magic 2011</li>
        <li class="text-white">Rise of the Eldrazi</li>
        <li class="text-white">Worldwake</li>
        <li class="text-white">Zendikar</li>
        <li class="text-white">Magic 2010</li>
        <li class="text-white">Alara Reborn</li>
        <li class="text-white">Conflux</li>
        <li class="text-white">Shards of Alara</li>
        <li class="text-white">Eventide</li>
        <li class="text-white">Shadowmoor</li>
        <li class="text-white">Morningtide</li>
        <li class="text-white">Lorwyn</li>
        <li class="text-white">Tenth Edition</li>
        <li class="text-white">Future Sight</li>
        <li class="text-white">Planar Chaos</li>
        <li class="text-white">Time Spiral</li>
        <li class="text-white">Coldsnap</li>
        <li class="text-white">Dissension</li>
        <li class="text-white">Guildpact</li>
        <li class="text-white">Ravnica: City of Guilds</li>
        <li class="text-white">Ninth Edition</li>
        <li class="text-white">Saviors of Kamigawa</li>
        <li class="text-white">Eighth Edition</li>
        <li class="text-white">Betrayers of Kamigawa</li>
        <li class="text-white">Champions of Kamigawa</li>
        <li class="text-white">Fifth Dawn</li>
        <li class="text-white">Darksteel</li>
        <li class="text-white">Mirrodin</li>
    </ul>

    <h1 class="index_headers text-center">Popular cards in Modern:</h1>

    <div class="d-block mx-auto justify-content-center">
        <img src="~/Images/mh2-138-ragavan-nimble-pilferer.jpg" class="m-1" />
        <img src="~/Images/dmr-110-yawgmoth-thran-physician.jpg" class="m-1" />
        <img src="~/Images/ima-183-primeval-titan.jpg" class="m-1" />
    </div>
</div>