<div class="container">
    <h1 class="index_headers text-center">Standard</h1>
    
    <ul class="">
        <li class="text-white">Standard is a format where two players face off in a game that consists of 
        three matches with a 40 minute time limit.</li>
        
        <li class="text-white">Your deck must contain at least 60 cards
        from the most recently released sets that are legal for standard.</li>
        
        <li class="text-white">Other than basic lands, 
        your deck can only contain 4 copies of each individual card.</li>
        
        <li class="text-white">Your deck can have more than 
        60 cards and there is no limit to how many cards your deck can have.</li>
        
        <li class="text-white">The only thing is, 
        you have to be able to properly shuffle your deck without any assistance. </li>

        <li class="text-white">From time to time, a card will be printed in standard that turns out to be too powerful
        and dominates the format. Cards like this are usually banned from the official play in 
        the format and you can find the official banned and restricted list
            <a href="https://magic.wizards.com/en/banned-restricted-list" target="_blank"> here</a>.
        </li>
    </ul>    

    <h2 class="index_headers text-center">The following sets are currently legal in Standard:</h2>
    <ul class="list-unstyled text-center">
        <li class="text-white">Outlaws of Thunder Junction</li>
        <li class="text-white">Muders at Karlov Manor</li>
        <li class="text-white">The Lost Caverns of Ixalan</li>
        <li class="text-white">Wilds of Eldraine</li>
        <li class="text-white">March of the Machine: The Aftermath</li>
        <li class="text-white">March of the Machine</li>
        <li class="text-white">Phyrexia: All WIll Be One</li>
        <li class="text-white">The Brothers' War</li>
        <li class="text-white">Dominaria United</li>
        <li class="text-white">Streets of New Capenna</li>
        <li class="text-white">Kamigawa: Neon Dynasty</li>
        <li class="text-white">Innistrad: Crimson Vow</li>
        <li class="text-white">Innistrad: Midnight Hunt</li>
    </ul>

    <h1 class="index_headers text-center">Popular new cards in Standard:</h1>

    <div class="d-block mx-auto justify-content-center">
        <img src="~/Images/otj-149-terror-of-the-peaks.jpg" class="m-1" />
        <img src="~/Images/otj-167-goldvein-hydra.jpg" class="m-1" />
        <img src="~/Images/otj-223-oko-the-ringleader.jpg" class="m-1" />
    </div>
</div>