@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h1 class="index_headers text-center">Supertypes</h1>
    <br />
    <h2 class="index_headers text-center">What is a Supertype</h2>
    <br />

    <p class="text-white w-50 text-center mx-auto">
        A Supertype is a characteristic of a Magic Card and appears on the type line of the card along 
        with the card's other <a>card types</a>. Most Magic cards do not have a Supertype.
    </p>

    <h2 class="index_headers text-center">Basic</h2>
    <br />
    <img class="img-fluid mx-auto d-block" src="~/Images/basic-lands.jpg" />
    <p class="text-white text-center">
        <em><strong>Basic</strong></em> is a Supertype that only applies to the 5 basic lands.    
    </p>
    <br />

    <h2 class="index_headers text-center">Snow</h2>
    <img class="img-fluid mx-auto d-block" src="~/Images/snow-narfi.jpg" />
    <p class="text-white text-center">
        <em><strong>Snow</strong></em> is a Supertype that not only can apply to the 5 basic land types, 
        it can also apply to other permanent types as well.
    </p>
    <br />      
 
    <h2 class="index_headers text-center">Legendary</h2>
    <img class="img-fluid mx-auto d-block" src="~/Images/lilianna.jpg" />
    <br />
    <p class="text-white text-center">
        A card with the Legendary Sypertype means you can only have one copy of that
        card on the battlefield at a time. If you end up with more than one, you must 
        immediately choose one to keep and send all the rest to the graveyard.
        The Legendary Supertype can apply to all permanent card types and even instants
        and sorceries. However, an instant or sorcery card with the Legendary Supertype 
        can only be cast while you control a legendary permanent.
    </p>

    <h2 class="index_headers text-center">World</h2>
    <p class="text-white text-center">
        The <em><strong>World</strong></em> supertype has been retired for many years. 
        This supertype was only printed on enchantments. World is very similar to Legendary, 
        except only 1 permanent on the battlefield and have this superstype.
    </p>
    <br />

</div>
