<div class="container">
    <h1 class="index_headers text-center">Vintage</h1>
    <ul>
        <li class="text-white">
            Vintage is a format where two players face off in a game that consists of
            three matches with a 40 minute time limit. 
        </li>

        <li class="text-white">
        The Vintage format allows players to use cards from all Magic the Gathering sets. 
        </li>

        <li class="text-white">
            Your deck must contain at least 60 cards.
        </li>

        <li class="text-white">
            Other than basic lands, your deck can only contain 4 copies of each individual card. 
        </li>

        <li class="text-white">
            Your deck can have more than 60 cards and there is no limit to how many cards your deck can have. The only thing is,
            you have to be able to properly shuffle your deck without any assistance. 
        </li>

       <li class="text-white">
            You can find the official banned and restricted list <a href="https://magic.wizards.com/en/banned-restricted-list" target="_blank">here</a>.
       </li>
    </ul>

    <h1 class="index_headers text-center">Popular new cards in Vintage:</h1>
  
    <div class="d-block mx-auto justify-content-center">
        <img src="~/Images/30a-579-volcanic-island.jpg" class="m-1" />
        <img src="~/Images/ced-233-black-lotus.jpg" class="m-1" />
        <img src="~/Images/ema-49-force-of-will.jpg" class="m-1" />
    </div>
</div>